*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* default browser font size is 16px , therefore 62.5% is */
}

body {
  box-sizing: border-box;
}
